:root {
	--checker: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8/////4MHDzIwHjhw4L+9vT0DAHAFCj6esq3FAAAAAElFTkSuQmCC");
	--ActiveBorder: rgb(192, 192, 192);
	--ActiveTitle: rgb(0, 0, 128);
	--AppWorkspace: rgb(128, 128, 128);
	--Background: rgb(0, 128, 128);
	--ButtonAlternateFace: rgb(180, 180, 180);
	--ButtonDkShadow: rgb(0, 0, 0);
	--ButtonFace: rgb(192, 192, 192);
	--ButtonHilight: rgb(255, 255, 255);
	--ButtonLight: rgb(223, 223, 223);
	--ButtonShadow: rgb(128, 128, 128);
	--ButtonText: rgb(0, 0, 0);
	--GradientActiveTitle: rgb(16, 132, 208);
	--GradientInactiveTitle: rgb(181, 181, 181);
	--GrayText: rgb(128, 128, 128);
	--Hilight: rgb(0, 0, 128);
	--HilightText: rgb(255, 255, 255);
	--HotTrackingColor: rgb(0, 0, 255);
	--InactiveBorder: rgb(192, 192, 192);
	--InactiveTitle: rgb(128, 128, 128);
	--InactiveTitleText: rgb(192, 192, 192);
	--InfoText: rgb(0, 0, 0);
	--InfoWindow: rgb(255, 255, 225);
	--Menu: rgb(192, 192, 192);
	--MenuText: rgb(0, 0, 0);
	--Scrollbar: rgb(192, 192, 192);
	--TitleText: rgb(255, 255, 255);
	--Window: rgb(255, 255, 255);
	--WindowFrame: rgb(0, 0, 0);
	--WindowText: rgb(0, 0, 0);
}
