:root {
	--checkerboard-pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC);
}

%checkerboard {
	background: var(--checkerboard-pattern) repeat;
}
%font {
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
}

button {
	background: var(--ButtonFace);
	border: 2px outset var(--ButtonFace);
	position: relative;
	outline: none; /* TODO! */
}
button:active {
	border: 2px inset var(--ButtonFace);
}
/* TODO! (this doesn't work without child ELEMENT) */
/* also, this is more complicated; see Paint; the tool buttons translate when being pushed and when depressed, and these add together */
/*button:active > * {
	position: relative;
	left: 1px;
	top: 1px;
}
*/
/* @supports selector(a::after) { ... } doesn't work */
@supports (--supports: supports) {
	button,
	button:active {
		border: none;
	}
	button {
		border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonHilight);
		border-style: solid;
		border-width: 1px 1px;
	}
	button:active {
		border-color: var(--ButtonShadow);
		border-style: solid;
		border-width: 1px 1px;
	}
	button::after {
		content: "";
		display: block;
		position: absolute;
		left: -1px;
		top: -1px;
		right: -2px;
		bottom: -2px;
		border-right: 1px solid var(--ButtonDkShadow);
		border-bottom: 1px solid var(--ButtonDkShadow);
	}
}
button:focus::before {
	content: "";
	display: block;
	position: absolute;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	border: 1px dotted var(--ButtonDkShadow); /* ?? */
	/*border-radius: 2px; maybe haha? probably not! */
	/* TODO: exactnesses */
}
button.lightweight:not(:hover):not(:focus) {
	border-color: transparent;
}
button.lightweight::after {
	display: none;
}
button[disabled] {
	color: --var(GrayText);
	text-shadow: 1px 1px 0px white; /* TODO: what var for color? */
}
/* TODO: [checked]? */
button.selected {
	@extend button:active;
	@extend %checkerboard;
}
button.show-focus-ring {
	@extend button:focus;
}

/* TODO: inactive styles */
.window-titlebar {
	background: var(--ActiveTitle);
	background: linear-gradient(to right, var(--ActiveTitle) 0%, var(--GradientActiveTitle) 100%);
	
	color: var(--TitleText);
	@extend %font;
}
.window {
	background: var(--Window);
	/*color: var(--WindowText);*/
	/*border: 1px solid var(--WindowFrame);*/
}
.window-content {
	background: var(--ButtonFace); /* ?? speculation */
}
