:root {
	/* TODO: dynamic checkerboard pattern with linear gradients? or perhaps a translucent image may be appropriate */
	--checkerboard-pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC);
}
%checkerboard {
	background: var(--checkerboard-pattern) repeat;
}
%font {
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
}
%inset-shallow {
	border-style: solid;
	border-width: 1px;
	border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonHilight);
}
%outset-shallow {
	border-style: solid;
	border-width: 1px;
	border-color: var(--ButtonShadow) var(--ButtonHilight) var(--ButtonHilight) var(--ButtonShadow);
}
%inset-deep {
	@extend %inset-shallow; /* as fallback */
	position: relative; /* for pseudo element(s) */
}
%outset-deep {
	@extend %outset-shallow; /* as fallback */
	position: relative; /* for pseudo element(s) */
}
/* @supports selector(a::after) { ... } doesn't work */
@supports (--supports: supports) {
	%inset-deep,
	%outset-deep {
		border: none;
	}
	%outset-deep {
		border-color: var(--ButtonLight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonLight);
		border-style: solid;
		border-width: 1px 1px;
	}
	%inset-deep {
		border-color: var(--ButtonShadow);
		border-style: solid;
		border-width: 1px 1px;
	}
	%outset-deep::after {
		content: "";
		display: block;
		position: absolute;
		left: -2px;
		top: -2px;
		right: -2px;
		bottom: -2px;
		border-color: var(--ButtonHilight) black black var(--ButtonHilight); /* var for black?? */
		border-style: solid;
		border-width: 1px 1px;
	}
	%inset-deep::after {
		border-color: black; /* ?? */
		border-style: solid;
		border-width: 1px 1px;
	}
}
button {
	outline: none; /* replaced with inner dotted focus ring (which is admittedly not so prominent...) */
	background: var(--ButtonFace);
	@extend %outset-deep;
}
button:active {
	@extend %inset-deep;
}

/* TODO: offset content on press! */
/* (this would need a child ELEMENT, wouldn't work with text nodes as direct descendants:) */
/*button:active > * {
	position: relative;
	left: 1px;
	top: 1px;
}
*/
/* also, this is more complicated; see Paint; the tool buttons translate when being pushed and when depressed, and these add together */

button:focus::before {
	content: "";
	display: block;
	position: absolute;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	border: 1px dotted var(--ButtonDkShadow); /* ?? */
	/* TODO: get exact inset dimensions, and have corners without dots ideally */
	/* (could use outline instead of ::before at this point) */
}
button.lightweight:not(:hover):not(:focus) {
	border-color: transparent;
}
button.lightweight::after {
	display: none;
}
button.lightweight:hover,
button.lightweight:focus {
	@extend %inset-shallow;
}
button.lightweight:active {
	@extend %outset-shallow;
}
button[disabled] {
	color: --var(GrayText);
	text-shadow: 1px 1px 0px white; /* TODO: what var for color? */
}
/* TODO: [checked]? */
button.selected {
	@extend button:active;
	@extend %checkerboard;
}
button.show-focus-state-style {
	@extend button:focus;
}
button.show-active-state-style {
	@extend button:active;
}

/* TODO: inactive styles */
.window-titlebar {
	background: var(--ActiveTitle);
	background: linear-gradient(to right, var(--ActiveTitle) 0%, var(--GradientActiveTitle) 100%);
	
	color: var(--TitleText);
	@extend %font;
}
.window {
	background: var(--Window);
	/*color: var(--WindowText);*/
	/*border: 1px solid var(--WindowFrame);*/
}
.window-content {
	background: var(--ButtonFace); /* ?? speculation */
}

/* TODO: better API! better names */
.button-like-border {
	@extend %outset-deep;
}
